<div class="section">

     <!--   Icon Section   -->
     <div class="row">

       <div class="col s12 m8">

           <div class="card-panel">


                <% @posts.each do |post| %>
                <div class="card">
                            <div class="card-image">
                              <%= image_tag "/uploads/#{post.id}/photos/#{post.image_filename}" %>
                            </div>
                            <div class="card-content">
                              <h1 class="gray-text"><%=post.title%></h1>
                              <p class="gray-text"><%= truncate(post.content, :length => 150) %></p>
                            </div>
                            <div class="card-action">
                              <p class="date"><%= post.created_at.strftime("%b %d, %Y")%></p>

                              <%= link_to "Mais", post, class:"waves-effect waves-light pink lighten-4 btn"%>
                            </div>
                          </div>
                <% end %>


              </div>

              <%= will_paginate @posts %>
          </div>
