<div class="section">

     <!--   Icon Section   -->
     <div class="row">

       <div class="col s12 m8">

           <div class="card-panel">



                <div class="card">
                            <div class="card-image">
                              <%= image_tag @post.image.url(:medium) %>
                            </div>
                            <div class="card-content">
                              <h1 class="gray-text"><%= @post.title%></h1>
                              <p class="gray-text"><%= markdown @post.content %></p>
                            </div>
                            <div class="card-action">
                              <p class="date"><%= @post.created_at.strftime("%b %d, %Y")%></p>

                            </div>

                    </div>
                    <%= render 'disqus'%>
                    <% if user_signed_in? %>
                      <%= link_to "Deletar Post", root_path(@post), method: :delete, data:{confirm: "Are you sure?"}, class:'pink-text' %> |
                      <%= link_to "Editar Post", edit_post_path(@post), class:'pink-text' %>
                    <% end %>
              </div>
          </div>
