<div class="section">

     <!--   Icon Section   -->
     <div class="row">

       <div class="col s12 m8">

           <div class="card-panel">



                <div class="card">
                            <div class="card-image">
                              <%= image_tag "foto7.jpg" %>
                              <h1 class="card-title pink-text"><%= @post.title%></h1>
                            </div>
                            <div class="card-content">
                              <p class="gray-text"><%= @post.content %></p>
                            </div>
                            <div class="card-action">
                              <p class="date"><%= @post.created_at.strftime("%A,%b %d")%></p>

                            </div>

                    </div>
                    <%= render 'disqus'%>
                    <%= link_to "Delete Post", post_path(@post), method: :delete, data:{confirm: "Are you sure?"}, class:'pink-text' %> |
                    <%= link_to "Edit Post", edit_post_path(@post), class:'pink-text' %>
              </div>
          </div>
