
      <div class="col s12 m4">
       <div class="card-panel">
         <%= image_tag "foto1.jpg", class:'responsive-img circle' %>
       </div>
       <div class="card-panel">
       <a class="twitter-timeline" href="https://twitter.com/KauanyTassyla" data-widget-id="686703618683179008">Tweets de @KauanyTassyla</a>
       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="page-footer grey">

   <div class="container">
    <a href="" class="topo"><i class="fa fa-arrow-up fa-2x"></i></a>
     <div class="row">
       <div class="col l8 s12">
         <h5 class="brand-logo">kakau nascimento</h5>
         <ul>
           <li><%= link_to "Looks",   looks_path%></li>
           <li><%= link_to "Moda"   ,styles_path %></li>
           <li><%= link_to "Lifestyle"   ,lifestyles_path %></li>
           <li><%= link_to  "Beleza"      ,beautifuls_path %></li>
         </ul>

       </div>
       <div class="col l4 s12">
         <div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     Design by <a class="brown-text text-lighten-3" href="https://twitter.com/IgorPRVieira" target="_blank">Igor Vieira</a>
     </div>
   </div>
 </footer>


 <!--  Scripts-->
 <div id="fb-root"></div>
 <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));</script>
