<!DOCTYPE html>
<html>
<head>
  <title>Kakau Nascimento</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <!-- <%if notice%>
    Materialize.toast(<%= notice %>, 4000)

  <%elsif alert%>
    Materialize.toast(<%= alert %>, 4000)
  <%end%> -->

  <%= render 'layouts/navbar' %>

   <%= yield %>

  <%= render 'layouts/footer' %>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%if notice%>
<script type="text/javascript">
 <% if user_signed_in? %>
  Materialize.toast('Welcome ^^!', 4000,'pink')
 <% else %>
 Materialize.toast('Good Bye ^^!', 4000,'pink')
 <% end %>

</script>
<%elsif alert%>
  <script type="text/javascript">
    Materialize.toast('Dont!', 4000,'pink')
  </script>
<%end%>

</body>
</html>
